</div>
<script src="../public/javascript/nav-bar.js"></script>
<footer>
    <div class="footer-container">
        <div class="footer-item">
            <p class="copyright">Copyright &copy;2022</p>
        </div>
        <div class="footer-item">
            <p class="site-name">Legact of Africa</p>
        </div>
    </div>
</footer>
</body>

</html>