<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Joshua siyame">
    <meta name="creator" content="OpenSynTax.org">
    <meta name="description" content="...">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/body.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/nav-bar.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/media_q.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/contacts.css">
    <title><%= title %></title>
</head>

<body>
    <header>
       <nav class="navbar">
        <a href="/" class="nav-logo">
            <img src="../public/favicons/logo.png" class="logo" alt="legacy_of_africa.png">
        </a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="/contacts" class="nav-link">Contacts</a>
            </li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
       </nav>
    </header>
    <div class="container">
