@media screen and (max-width: 768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        padding: 0;
        position: fixed;
        left: -108%;
        top: 45px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(63, 63, 66);
        width: 100%;
        text-align: center;
        transition: .5s;
    }

    .nav-item{
        margin: 16px 0;
    }
    .nav-link{
        color: whitesmoke;
    }

    .nav-menu.active{
        left: 0;
    }

    /* Footer design */
footer{
    background-color: gray;
    font-size: small;
}

.footer-container{
    display: flex;
    justify-content: center;
}

.footer-item{
    color: whitesmoke;
    margin: 0 24px;
}

}